header {
    background-color: #fff0f2;
    color: #a8a8a8;;
    border-style: sold;
    border-color: #a8a8a8;
    font-family: "helvetica";
    text-align: center;
}

h1 {
    padding: 10px;
}

a {
    color: darkgrey;
    font-family: "garamond";
}

h2 {
    background-color: #fff0f2;
    color: #a8a8a8;
    border-style: sold;
    border-color: #a8a8a8;
    font-family: "helvetica";
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

h3 {
    color: #a8a8a8;
    font-family: "helvetica";
    margin-left: 30px;
    margin-right: 30px;
    
}

p {
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    font-family: "garamond";
}

li {
    color: black;
    font-family: "garamond";
}